@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Merriweather+Sans&display=swap');

.Collaboration {
	background-image: url("https://i.imgur.com/8g8TzbD.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	background-size: cover;
}

.collaborationWrapper {
	height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
}

.collaborationContent {
	margin-left: auto;
	margin-right: auto;
	font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
	color: white;
	font-size: 1em;
}

.collaborationHeader {
	font-family: 'Catamaran', sans-serif;
	color: #fffd98;
}

@media only screen and (max-width: 600px) {
	.collaborationContent {
		padding: 10px 0;
		max-width: 90%;
	}

.collaborationHeader {
		font-size: 1.5em;
}
}

@media only screen and (max-width: 900px) {
	.collaborationContent {
		padding: 30px 0;
		max-width: 85%;
	}

	.collaborationHeader {
		font-size: 1.75em;
}
}

@media only screen and (min-width: 901px) {
	.collaborationContent {
		padding: 30px 0;
		max-width: 75%;
	}

.collaborationHeader {
	font-size: 2em;
}
}