@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Merriweather+Sans&display=swap");

.contactSection {
	background-color: white;
	padding: 5px 0;
}

.contactLinks {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

.contactItem {
	font-family: "Merriweather Sans", Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
	.contactItem img {
		max-width: 30px;
		max-height: 30px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
	.contactItem img {
		max-width: 50px;
		max-height: 50px;
	}
}

@media only screen and (min-width: 901px) {
	.contactItem img {
		max-width: 80px;
		max-height: 80px;
	}
}
