@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Merriweather+Sans&display=swap');

.Footer {
	background-color: black;
	color: white;
	text-align: right;
	padding: 0.05em 2em;
	font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
}
