.LogosSection {
	background-color: rgb(177, 177, 177);
	display: flex;
	justify-content: center;
}

.LogosList {
	display: inline-flex;
	flex-wrap: wrap;
}

ul.LogosList {
	list-style: none;
}

li.Logos {
	display: flex;
	padding: 2px 10px;
}

.Logos {
	justify-self: center;
	align-self: center;
}

img.LogoImg {
	max-width: 75px;
	max-height: 75px;
}

/*@media only screen and (max-width: 600px) {
	.LogosList {
		padding: 2px;
	}

	.Logos {
		max-width: 50px;
		max-height: 50px;
		padding: 2px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
	.LogosList {
		padding: 3px;
	}

	.Logos {
		max-width: 65px;
		max-height: 65px;
		padding: 3px;
	}
}

@media only screen and (min-width: 901px){
	.LogosList {
		padding: 5px;
	}

	.Logos {
		max-width: 75px;
		max-height: 75px;
		padding: 5px;
	}
}*/
