@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Merriweather+Sans&display=swap");

.NameSection {
	background-position: center;
	background-color: rgba(255, 255, 221, 0.8);
	color: black;
	display: flex;
	justify-content: center;
}

.Name {
	font-family: "Catamaran", sans-serif;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.NameSection {
		padding: 5px 50px;
		border-radius: 10px;
	}

	.Name {
		font-size: 1.25em;
	}
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
	.NameSection {
		padding: 0 50px;
		border-radius: 15px;
	}

	.Name {
		font-size: 1.7em;
	}
}

@media only screen and (min-width: 901px) {
	.NameSection {
		padding: 0 50px;
		border-radius: 30px;
	}

	.Name {
		font-size: 3em;
	}
}
