@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Merriweather+Sans&display=swap");

.Navbar {
	background-color: black;
	color: #afa2ff;
	text-align: right;
	padding: 0 2em;
	font-family: "Merriweather Sans", Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #afa2ff;
}

ul.NavMenu {
	list-style: none;
	font-weight: 800;
}

li.NavItem {
	text-transform: uppercase;
}

li.NavItem:active {
	color: white;
}

li.NavItem:visited {
	color: #1a9da2;
}

@media only screen and (max-width: 600px) {
	.Navbar {
		background-color: rgba(0, 0, 0, 0.7);
		overflow: hidden;
		position: relative;
		padding: 0 7px 0 0;
		margin: -8px 0;
	}

	.NavMenu li.NavItem {
		display: inline;
		color: #afa2ff;
		text-decoration: none;
		font-size: 14px;
	}

	.NavMenu li.NavItem:hover {
		background-color: black;
		color: #1a9da2;
		border: 1px white solid;
	}

	.NavMenu li.NavItem:active {
		font-size: 16px;
	}

	.NavItem {
		padding: 8px 9px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
	.Navbar {
		padding: 1px 10px;
	}

	.NavMenu li.NavItem {
		display: inline;
		padding: 7px 15px;
		font-size: 1.1em;
	}

	.NavMenu li.NavItem:hover {
		box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
	}

	.NavMenu li.NavItem:active {
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 901px) {
	.Navbar {
		padding: 1px 15px;
	}

	.NavMenu li.NavItem {
		display: inline;
		padding: 10px 25px;
		font-size: 1.2em;
	}

	.NavMenu li.NavItem:hover {
		box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
	}

	.NavMenu li.NavItem:active {
		font-size: 1.3em;
	}
}
